<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/article.css">
	<script type="text/javascript" src="js/util.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/get-all-volumes-list.js"></script>
	<script type="text/javascript" src="js/article.js"></script>
    <title>溪水旁</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">溪水旁</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#defaultNavBar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="defaultNavBar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="allVolumeMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">所有期刊</a>
                    <div class="dropdown-menu volume-dropdown scrollable-menu" id="all-volume-list" aria-labelledby="allVolumeMenuLink">
                    </div>
                </li>
            </ul>
			<form class="form-inline mt-2 mt-md-0" action="search" method="POST">
				<input class="form-control mr-sm-2" type="text" placeholder="搜索关键字" name="search">
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">搜索</button>
			</form>
        </div>
    </nav>

	<main class="main-section">
		<div class="container py-3">
			<div id="article-error-container"></div>
			<div id="article-container" class="card" style="overflow-y: auto;">
			</div>
		</div>
	</main>
	<div class="container mt-3">
		<footer>
			<h5>版权</h5>
			<ul class="list-unstyled">
				<li><small>多伦多华人福音堂</small></li>
				<li><small>&copy; 2005-2018 Chinese Gospel Church of Toronto</small></li>
			</ul>
		</footer>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>
