<h4 style="text-align: center;">《溪水旁》2023年约稿信</h4>

<p>　　时光飞逝，我们又迎来了2022年的尾声。这一年，《溪水旁》收到了许多弟兄姐妹的得救见证，还有神的话语对大家生命带来的翻转和改变，更有在患难、疾病中寻求神并被神得着的鼓舞人心的经历……正如希伯来书12：1所说，“我们既有这许多的见证人，如同云彩围着我们，就当放下各样的重担，脱去容易缠累我们的罪，存心忍耐，奔那摆在我们前头的路程。”在新的一年，溪水旁盼望继续跟弟兄姐妹还有各方的读者朋友们一起分享神的话语、生命故事，每天多认识神一点！</p>
<p>　　感谢主，世界华福中心的总干事董家骅牧师同意我们刊登他在2021大多市国语培灵会的4篇讲道稿，围绕着“不能拦阻的福音”这个主题展开。讲员提出，当我们以为新冠疫情是一个危机的时候，其实我们忽略了它只是暴露了现代社会已经存在的危机，比如信任的危机、盼望的危机、爱的扭曲。是啊，当我们对人、事、物失望的时候，我们不禁会问，我们还可以信任谁呢？世界的未来值得我们盼望吗？在一个各人自扫门前雪、自我中心的时代，有什么值得我们去爱呢？我是否真的懂得如何去爱呢？……看到这些问题，大家是否有同感？抑或有不同的想法呢？邀请您跟我们在2023年的主题稿中一起来更深地探索这势不可挡、不能拦阻的福音是什么。</p>
<p>　　《溪水旁》在此也热烈欢迎弟兄姐妹来稿，分享自己的生命历程。无论是初信决志、受洗感恩、蒙召经历、短宣旅程、经文思考、灵修心得、病中见证、神学辩证、历史考据、圣地游记、好书介绍、疑难问题，我们都可以帮您分享给大家。因为你我是同感一灵，一同见证主。</p>
<p>　　2023年预计出刊四期，每期的主题和大致出版日期如下：</p>

<p>　　第75期：从无创有的福音（3月26日）</p>
<p>　　第76期：不被信徒软弱拦阻的福音（6月25日）</p>
<p>　　第77期：不被外在逼迫拦阻的福音（10月1日）</p>
<p>　　第78期：不被文化种族拦阻的福音（12月31日）</p>
