<h4 style="text-align: center;">《溪水旁》2022年约稿信</h4>
<p>　　一转眼，我们即将告别2021。这一年，《溪水旁》收到了许多疫情当中的生命见证。我们清清楚楚地看到，神一刻不停地在全地动工，在人心动工！当我们被神的话语牧养，我们属灵的生命便开始成长；当我们在不确定和危机中学习仰望神，我们内心才有真正的平安；当我们用永恒的眼光来看待世上短暂的一切，我们才更知道如何朝着标杆直跑，打那美好的仗。</p>
<p>　　神的话语是我们生命不可或缺的养分，他一直是我们的大牧者，带领他的羊去青草地上、去可安歇的水边。感谢主，我们征得了郭暮云牧师的同意，挑选了他博客中的四篇关于“十诫”的讲章，作为2022年的主题稿分享给大家。郭暮云牧师用深入浅出的文字来探讨十诫，同时又提供了生动诙谐的例子帮助我们理解。求神藉着郭暮云牧师生命的思考与分享来造就所有的读者。</p>
<p>　　我们将探讨很多与我们生活和生命息息相关的问题。比如，基督徒虽然不会明晃晃地崇拜多神，还要警惕哪些隐性的多神崇拜呢？只要不说一些英文里骂人的口头禅，就守住了不妄称神的名的第三诫吗？我们日复一日忙忙碌碌的奋斗目标是什么呢？我们的生活与世人无异吗？十诫和十架又有什么关系呢？</p>
<p>　　看到这些问题，大家是否很期待新一年的主题分享呢？虽然我们无法在四期中刊登所有十诫的讨论，大家感兴趣的话也可以去郭暮云牧师的博客（暮云的半导体）中详细阅读。</p>
<p>　　《溪水旁》在此也热烈欢迎弟兄姐妹来稿，分享自己的生命历程。无论是受洗感恩、蒙召经历、短宣旅程、经文思考、灵修心得、病中见证、神学辩证、历史考据、圣地游记、好书介绍、疑难问题，我们都可以帮您分享给大家。因为你我是同感一灵，一同见证主。</p>
<p>　　2022年预计出刊四期，每期的主题和大致出版日期如下：</p>
<p>　　第71期：第一诫 独一的真神（3月27日）</p>
<p>　　第72期：第三诫 上帝的圣名（6月26日）</p>
<p>　　第73期：第十诫 不可贪恋（10月2日）</p>
<p>　　第74期：十诫十架 终结篇（12月25日）</p>
