<h4 style="text-align: center;">《溪水旁》2024年约稿信</h4>

《溪水旁》在此热烈欢迎弟兄姐妹来稿，分享自己的生命历程。无论是初信决志、受洗感恩、蒙召经历、短宣旅程、经文思考、灵修心得、病中见证、神学辩证、历史考据、圣地游记、好书介绍、疑难问题，我们都可以帮您分享给大家。因为你我是同感一灵，一同见证主。2024年预计出刊四期，围绕着基督徒在生活中该有什么操练。每期的主题如下： 
第79期：节制的操练
第80期：忍耐的操练
第81期：敬畏的操练
第82期：奉献的操练