<h4 style="text-align: center;">征集读者回应 ！</h3>
<h6 style="text-align: center;">编辑同工组</h6>
<p>创刊至今，《溪水旁》的每篇文章都讲述着一个充满神恩典的事迹，也彰显着圣灵的能力。我们看到每位作者都怀着感恩的心，郑重地写下神对他们的带领，以及他们对神话语的领悟。我们诚心邀请每位读者对曾刊载在《溪水旁》的文章作出回应。</p>
<p>每一位主内的弟兄姊妹都渴望在神的家中与其他肢体畅通无阻的交流和分享。《溪水旁》的同工们非常希望这份刊物可以成为弟兄姊妹交流的平台。如果有篇文章曾唤起你心底的共鸣，或引发你深深的思考，甚至使你产生疑问，我们都欢迎你把针对那篇文章作出的回应投稿给《溪水旁》。你的回应文章不必洋洋洒洒，也不必妙笔生花。哪怕只有寥寥数语，但我们相信，最能触动人心的，永远是真实诚恳的言辞。</p>
<p>如果你有感动，想要作出回应，请投稿至《溪水旁》的电子邮箱：cgc_pen@yahoo.com，或交给编辑同工或牧者。请在稿件开头特别注明你所反馈的文章标题，以及该文章所在的期刊出版时间（比如：《神，值得等候》出自2010年3月刊）。文章可署真名或笔名 。</p>
<p>我们衷心期待你的回应！</p>