<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>溪水旁</title>
  </head>
  <body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/util.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">溪水旁</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#defaultNavBar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="defaultNavBar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="allVolumeMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">所有期刊</a>
                    <div class="dropdown-menu volume-dropdown scrollable-menu" id="all-volume-list" aria-labelledby="allVolumeMenuLink">
                    </div>
                </li>
            </ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="搜索关键字" aria-label="Search">
				<button type="button" class="btn btn-outline-info my-2 my-sm-0" type="submit">搜索</button>
			</form>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid main-background vertical-center-align">
        <div class="center text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h1 class="jumbotron-header">溪水旁</h1>
                        <p>溪水旁杂志由多伦多华人福音堂的弟兄姐妹们编辑而成的属灵杂志。</p>
                        <a class="btn btn-raised btn-info" role="button" aria-pressed="true" href="volume">开始阅读</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="feedbackSection" class="container" style="padding: 60px 0 30px 0; display: none;"></div>
    <div id="contributionSection" class="container" style="padding: 60px 0 30px 0; display: none;"></div>
    <div id="legalSection" class="container" style="padding: 60px 0 30px 0; display: none;"></div>


        <div class="container">
            <footer class="border-top pt-5">
                <div class="row">
                    <div class="col-md">
                        <h5>版权</h5>
                        <ul class="list-unstyled">
                            <li><small>多伦多华人福音堂</small></li>
                            <li><small>&copy; 2005-2018 Chinese Gospel Church of Toronto</small></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <h5>关于我们</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">编者的话</a></li>
                            <li><a class="text-muted" href="#feedbackSection" onclick="updateSection('feedbackSection')">征集回应</a></li>
                            <li><a class="text-muted" href="http://www.chinesegospelchurch.ca/" target="_blank">多伦多华人福音堂</a></li>
                            <li><a class="text-muted" href="#contributionSection" onclick="updateSection('contributionSection')">稿约</a></li>

                        </ul>
                    </div>
                    <div class="col-md">
                        <h5>相关文件</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#legalSection" onclick="updateSection('legalSection')">法律申明</a></li>

                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    <script>
        
        function updateSection(urlHash) {
            $('#feedbackSection').hide();
            $('#contributionSection').hide();
            $('#legalSection').hide();
            if (urlHash == 'feedbackSection') {
                if ($('#feedbackSection').html().trim() == '') {
                    $('#feedbackSection').load('feedback');
                }
                $('#feedbackSection').show();
            } else if (urlHash == 'contributionSection') {
                if ($('#contributionSection').html().trim() == '') {
                    $('#contributionSection').load('contribution');
                }
                $('#contributionSection').show();
            } else if (urlHash == 'legalSection') {
                if ($('#legalSection').html().trim() == '') {
                    $('#legalSection').load('legal');
                }
                $('#legalSection').show();
            }
        }

        updateSection(window.location.hash.replace('#', ''));
    </script>
  </body>
</html>
