<h4 style="text-align: center;">《溪水旁》法律申明</h4>
<p>1. 本刊（网站）宗旨是透过这份教会性的杂志来分享神在弟兄姊妹中的作为，并通过互联网络让更多的能读中文的人们阅读到本刊, 包括中国大陆亿万的同胞们，把神在弟兄姐妹们身上的信望爱分享开来，以期吸引众人归向耶稣基督。</p>
<p>2. 本刊（网站）有权根据中国、加拿大及其他国家相关法律、法规要求和基督教的立场，对部分文章所涉及的敏感文字进行删改。</p>
<p>3. 本刊（网站）刊登文章均为可确认作者的文章。文章责任作者自负，文中观点不一定代表本刊（本网站）。</p>
<p>4. 本着广传福音的宗旨，欢迎转载，但严禁把转载内容以任何形式用于商业用途。请事先电邮至cgc_pen@yahoo.com所欲转载的文章标题和文章所在期号，我们将代为征得作者书面同意，然后同意转载。转载时请注明文章源于《溪水旁》www.xishuipang.com并注明文章作者。若本刊转载其他出版物（网站）的文章，也需征得对方书面同意。</p>
<p style="text-align: right;">２００６年１２月６日</p>
<br /> 
<h4 style="text-align: center;">By the Streams Policy (English Edition)</h4>
<p>1. The goal of church supported magazine By the Streams (referred to as “this magazine” hereafter), as well as its corresponding website, is to share God’s works among brothers and sisters.  This magazine intends to reach Chinese readers, including billions of fellow Chinese in China, via the Internet.  It then shares God’s faith, hope, and love that brothers and sisters experience.  In doing so, it brings people to Jesus Christ.</p>
<p>2. This magazine and website reserve the right to amend and omit sensitive words and phrases in articles, according to relevant Christian doctrines, as well as laws and regulations in China, Canada, and other countries.</p>
<p>3. All articles published in this magazine must contain identifiable authors.  Authors are responsible for their own words and actions.  The views of the articles do not necessarily represent those of this magazine and website.</p>
<p>4. For the sake of spreading the Gospel of Christ, this magazine welcomes reproductions of its articles.  However, the editorial board strictly prohibits their commercial use in any manner.  Please request permission by sending e-mails to cgc_pen@yahoo.com and indicate the volume number, issue number, and the article’s title.  The editorial board will permit reproductions when it receives the author’s written permission.  Please cite By the Streams or its corresponding website, www.xishuipang.com, as the source in the reproduced article.  Furthermore, reproduced articles must cite the name of the original author.  If this magazine reproduces articles from other publications and websites, it must seek the other party’s written permission.</p>
<p>December 27, 2006</p>