<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177282481-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-177282481-2');
    </script>
    
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Material Design for Bootstrap fonts and icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

	<!-- Material Design for Bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
    <style>
        p { font-size: 1.1em}
        h1 { font-weight: bold}
        h2 { font-weight: bold}
        h3 { font-weight: bold}
    </style>
    <script type="text/javascript" src="js/util.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/get-all-volumes-list.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/search-results.js"></script>
	<title>溪水旁</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">溪水旁</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#defaultNavBar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="defaultNavBar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="allVolumeMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">所有期刊</a>
                    <div class="dropdown-menu volume-dropdown scrollable-menu" id="all-volume-list" aria-labelledby="allVolumeMenuLink">
                    </div>
                </li>
            </ul>
        </div>
    </nav>
	<main class="main-section">
		<div class="container">

            <h1 class="pt-5" style="text-align: center;">Privacy Policy</h1>

            <p>This policy applies to all information collected or submitted on Xishuipang.com website and our app 溪水旁 for iPhone and any other devices and platforms.</p>

            <h2>Information we collect</h2>

            <p>When you visit www.xishuipang.com website or use our iOS app 溪水旁, we collect anonymous statistics about the location of the request.</p>

            <h3>Technical basics</h3>

            <p>We use cookies on the site and similar tokens in the app to keep your preferences about the website. Our server software may also store basic technical information, such as your IP address, in temporary memory or logs.</p>

            <h3>MongoDB</h3>
            <p>We use MongoDB as our database and it collects information about connection traffic. The data collected from MongoDB is anonymous and we only use this information for website and app improvement. <a href="https://www.mongodb.com/legal/privacy-policy">MongoDB's privacy policy is here.</a></p>

            <h2>Information usage</h2>

            <p>We use the information we collect to operate and improve our website, apps, and customer support.</p>
            <p>We do not share personal information with outside parties except to the extent necessary to accomplish 溪水旁’s functionality. We may share anonymous, aggregate statistics with outside parties, such as how many people have read a particular article.</p>
            <p>We may disclose your information in response to subpoenas, court orders, or other legal requirements; to exercise our legal rights or defend against legal claims; to investigate, prevent, or take action regarding illegal activities, suspected fraud or abuse, violations of our policies; or to protect our rights and property.</p>

            <h2>Security</h2>

            <p>We do not require any personal data, information, account or password to visit our website or use our app.</p>

            <h2>Third-party links and content</h2>

            <p>溪水旁 website and app do not display any third-party links or contents.</p>
            <h2>California Online Privacy Protection Act Compliance</h2>

            <p>We comply with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
            <h2>Children’s Online Privacy Protection Act Compliance</h2>

            <p>We never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>
            <h2>Information for European Union Customers</h2>

            <p>By using 溪水旁 and providing your information, you authorize us to collect, use, and store your information outside of the European Union.
            International Transfers of Information</p>

            <p>Information may be processed, stored, and used outside of the country in which you are located. Data privacy laws vary across jurisdictions, and different laws may be applicable to your data depending on where it is processed, stored, or used.</p>
            <h2>Your Consent</h2>

            <p>By using our site or apps, you consent to our privacy policy.</p>
            <h2>Contacting Us</h2>

            <p>If you have questions regarding this privacy policy, you may email privacy@xishuipang.com.</p>
            <h2>Changes to this policy</h2>

            <p>If we decide to change our privacy policy, we will post those changes on this page. Summary of changes so far:<p>
            <ul>
                <li>March 9th, 2018: First published.</li>
            </ul>

		</div>
	</main>

	<div class="container mt-3">
		<footer>
			<h5>版权</h5>
			<ul class="list-unstyled">
				<li><small>多伦多华人福音堂</small></li>
				<li><small>&copy; 2005-2018 Chinese Gospel Church of Toronto</small></li>
			</ul>
		</footer>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>
