<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/newindex.css">
        <script type="text/javascript" src="js/config.js"></script>
        <script type="text/javascript" src="js/simplify_traditional_convert.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/volume.js"></script>
        <link rel="stylesheet" href="/stylesheets/volume.css">
    <title>溪水旁</title>
  </head>
  <body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">溪水旁</a>
        <div class="collapse navbar-collapse nav-layout">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" id="tableOfContentLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">本期目录</a>
                    <div class="dropdown-menu scrollable-menu" id="navbar-toc" aria-labelledby="tableOfContentLink">
                    </div>
				</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="allVolumeMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">所有期刊</a>
                    <div class="dropdown-menu volume-dropdown" id="all-volume-list" aria-labelledby="allVolumeMenuLink">
                    </div>
                </li>
            </ul>
            <input class="form-control" type="text" placeholder="Search">
        </div>
    </nav>

    <div class="container volumn-body">
        <div class="row">
            <div class="col-xs-0 col-lg-2">
                <div>
                    <nav class="nav flex-column order-first">
                        <ul class="list-unstyled" id="table-of-content">
                        	
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xs-12 col-lg-10" id="content">
            	
            </div>
        </div>
    </div>
  </body>
</html>
