.main-background {
	margin-top:56px;
    margin-bottom: 0px;
    background-image: url(../images/banner-2.jpg);
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    color: white;
    height: 35rem;
}

.vertical-center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-header {
    font-size: 3.8rem;
    font-weight: 300;
}

.jumbotron-btn {
	border-radius: 2px !important;
	padding: 16px 32px !important;
	color: #fff !important;
	border-color: #2f3c86 !important;
}

.xsp-btn {
	background-color: #29B6F6 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}

.xsp-btn:hover {
	background-color: #039BE5 !important;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
}

/* To override bootstrap-material-design.js*/
.bmd-form-group {
	position: relative;
    padding-top: 0 !important;
}
