html, body {
	height:100%;
}

.center {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.scrollable-menu {
	height:auto;
	max-height:30rem;
	overflow-x:hidden;
}

.volume-dropdown {
	max-height: 300px;
	overflow-y: auto;
}

.nav-layout {
	display: flex;
	justify-content: space-between;
}

.xsp-nav-bar {
    background-color: #1565C0;
    /* background-color: #ff0087;*/
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
}
