html, body {
    height:100%;
    font-size: 1.2em;
}

p {
    font-size: 1.4em;
}

.center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.scrollable-menu {
    height:auto;
    max-height:30rem;
    overflow-x: hidden;
}

.volume-dropdown {
    max-height: 300px;
    overflow-y: auto;
}

.nav-layout {
    display: flex;
    justify-content: space-between;
}

.xsp-nav-bar {
    background-color: #1565C0;
    /* background-color: #ff0087;*/
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
}

.article-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 10px;
}

.main-section {
    margin-top:56px;
}

.left-img-container {
    float: left;
    padding-right: 1rem;
}

.right-img-container {
    float: right;
    padding-left: 1rem;
}

.article-img {
    max-height: 500px;
    object-fit: cover;
    max-width: 500px;
    width: 100%;
}

.btn-primary {
    color: #3F51B6 !important;
    font-weight: 600;
    width: 100px;
}

#return-top-button {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 30px;
}

#registrationDialog {
    position: fixed;
    width: 600px;
    height: 371px;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12);
    border-radius: 4px;
    padding: 25px 25px 0 25px;
}

.img-description {
    font-size: 0.9rem;
    display: block;
    text-align: center;
    margin-bottom: 0;
}

@media only screen
and (orientation: portrait)
and (max-width: 568px) {
    #registrationDialog {
        width: 100%;
        height: 100%;
    }
}

@media only screen
and (orientation: landscape)
and (max-width: 812px) {
    #registrationDialog {
        width: 100%;
        height: 100%;
    }
}
