.volumn-body {
	margin-top: 76px;
}

.volume-dropdown {
	max-height: 300px;
	overflow-y: auto;
}

.col-xs-0 {
	display: none;
}
@media (min-width: 992px) {
	.col-lg-3 {
		display: block;
	}
}

.gl-fixed-toc {
	display:block;
	position:fixed;
}

.gl-anchor-link {
	display:block;
	padding-top:4.5rem;
	margin-top:-4.5rem;
}

.gl-toc-link {
	color:grey;
}

.gl-toc-link:hover {
	color:black;
}

.article-title {
	font-size: 1.3rem;
	font-weight: 400;
	margin-right: 10px;
}

.article-author {
	font-size: 0.9rem;
}
.card-header-btn {
	word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
}
.new-tab-link {
	font-size: smaller;
    margin-left: 10px;
    color: indigo !important;
}
.new-tab-link:hover {
	text-decoration: underline !important;
}